@import "tailwindcss";

@font-face {
  font-family: "poppins";
  src: url("./assets/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

/* Only apply when this class is used */
.poppins {
  font-family: "poppins", system-ui, monospace;
}
